<div class="card card-info card-outline mb-4">
  <!--begin::Header-->
  <div class="card-header"><div class="card-title">Edit subject</div></div>
  <!--end::Header-->
  <!--begin::Form-->
  <form th:object="${subject}" action="/subjects/edit" method="post" class="needs-validation" novalidate>
    <!--begin::Body-->
    <input type="hidden" th:field="*{id}"/>
    <div class="card-body">
      <!--begin::Row-->
      <div class="row g-3">
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="validationName" class="form-label">Name</label>
          <input
                  type="text"
                  th:field="*{name}"
                  class="form-control"
                  id="validationName"
                  required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="card-footer">
      <button class="btn btn-info" type="submit">Save</button>
    </div>
    <!--end::Footer-->
  </form>
  <!--end::Form-->
  <!--begin::JavaScript-->
  <script>
    (() => {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation');

        Array.from(forms).forEach((form) => {
            form.addEventListener(
                'submit',
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                },
                false,
            );
        });
    })();
  </script>
  <!--end::JavaScript-->
</div>
