<div class="card card-info card-outline mb-4">
  <!--begin::Header-->
  <div class="card-header"><div class="card-title">Create a new student</div></div>
  <!--end::Header-->
  <!--begin::Form-->
  <form action="/students/create" method="post" class="needs-validation" novalidate>
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Row-->
      <div class="row g-3">
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">Name</label>
          <input
                  type="text"
                  name="ten"
                  class="form-control"
                  id="validationCustom01"
                  required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label">Age</label>
          <input
                  type="number"
                  class="form-control"
                  id="validationCustom02"
                  name="tuoi"
                  required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="validationCustomUsername" class="form-label">Telephone</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input
                    type="tel"
                    name="sodienthoai"
                    class="form-control"
                    id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend"
                    required
            />
            <div class="invalid-feedback">Please choose a username.</div>
          </div>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="card-footer">
      <button class="btn btn-info" type="submit">Create</button>
    </div>
    <!--end::Footer-->
  </form>
  <!--end::Form-->
  <!--begin::JavaScript-->
  <script>
    (() => {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation');

        Array.from(forms).forEach((form) => {
            form.addEventListener(
                'submit',
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                },
                false,
            );
        });
    })();
  </script>
  <!--end::JavaScript-->
</div>